<header>
  <div class="bg-light py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 text-center text-md-start"><span> Super Value Deals - Save more with coupons</span>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-light py-lg-4 pt-3 px-0 pb-0">
    <div class="container">
      <div class="row w-100 align-items-center g-lg-2 g-0">
        <div class="col-xxl-2 col-lg-2">
          <a class="navbar-brand d-none d-lg-block" href="/">
            <img src="/user/images/logo/freshcart-logo.svg">

          </a>
          <div class="d-flex justify-content-between w-100 d-lg-none">
            <a class="navbar-brand" href="/">
              <img src="/user/images/logo/freshcart-logo.svg" alt="Fresh Cart">

            </a>

            <div class="d-flex align-items-center lh-1">

              <div class="list-inline me-2">
                <div class="list-inline-item">

                  <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-user">
                      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                  </a>
                </div>
                <div class="list-inline-item">

                  <a class="text-muted position-relative " 
                    href="/cart/view" role="button" aria-controls="offcanvasRight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-shopping-bag">
                      <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                      <line x1="3" y1="6" x2="21" y2="6"></line>
                      <path d="M16 10a4 4 0 0 1-8 0"></path>
                    </svg>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                      1
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </a>
                </div>

              </div>
              <!-- Button -->
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>

            </div>
          </div>

        </div>
        <div class="col-xxl-6 col-lg-5 d-none d-lg-block">

          <form action="/product/search" method="post">
            <div class="input-group">
              <input type="text" class="form-control w-45" name="search" placeholder="Search for products">
              <button class="input-group-text bg-transparent" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                  </button>
              </div>
            </form>
        </div>
        <div class="col-md-2 col-xxl-2 d-none d-lg-block">
          <!-- Button trigger modal -->
          <button type="button" class="btn  btn-outline-gray-400 text-muted" data-bs-toggle="modal"
            data-bs-target="#locationModal">
            <i class="feather-icon icon-map-pin me-2"></i>Location
          </button>
        </div>
        {{#if headerData.user}}
        <div class="col-md-2 row align-items-center">
          {{#with headerData.user}}
          <a href="/user/signup"><span class="small text-muted">Hello, {{first_name}}</span></a>
           {{/with}}
          <a href="/signout" class="small">Sign Out</a></span>
        </div>
        {{else}}
        <div class="col-md-2 row align-items-center">
          <a href="/user/signup"><span class="small text-muted">New User, Signup</span></a>
          <a href="/user/signin" class="small">Hello,Sign in</a></span>
        </div>
        {{/if}}

        <div class="col col-xxl-1 text-end d-none d-lg-block">

          <div class="list-inline">
            <div class="list-inline-item">
              <a href="pages/shop-wishlist.html" class="text-muted position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                  5
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
            <div class="list-inline-item">

              <a href="#!" class="text-muted" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </a>
            </div>
            <div class="list-inline-item">

              <a class="text-muted position-relative "
                href="/cart/view" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-shopping-bag">
                  <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                  <line x1="3" y1="6" x2="21" y2="6"></line>
                  <path d="M16 10a4 4 0 0 1-8 0"></path>
                </svg>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                  {{#if cartCount}}
                    {{#each cartCount}}
                      {{count}}
                    {{/each}}
                  {{else}}
                    0
                  {{/if}}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="border-bottom pb-lg-4 pb-3">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default pt-0 pb-0">
    <div class="container px-0 px-md-3">

      <div class="dropdown me-3 d-none d-lg-block">
        <button class="btn btn-primary px-6 " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg></span> All Departments
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="pages/shop-grid.html">Dairy, Bread & Eggs</a></li>
          <li><a class="dropdown-item" href="pages/shop-grid.html">Snacks & Munchies</a></li>
          <li><a class="dropdown-item" href="pages/shop-grid.html">Fruits & Vegetables</a></li>
          <li><a class="dropdown-item" href="pages/shop-grid.html">Cold Drinks & Juices</a></li>
          <li><a class="dropdown-item" href="pages/shop-grid.html">Breakfast & Instant Food</a></li>
          <li><a class="dropdown-item" href="pages/shop-grid.html">Bakery & Biscuits</a></li>

          <li><a class="dropdown-item" href="pages/shop-grid.html">Chicken, Meat & Fish</a></li>
        </ul>
      </div>
      <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">

        <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
          <a href="index.html"><img src="/user/images/logo/freshcart-logo.svg" alt="Fresh Cart"></a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="d-block d-lg-none mb-2 pt-2">
          <a class="btn btn-primary w-100 d-flex justify-content-center align-items-center" data-bs-toggle="collapse"
            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
              </svg></span> All Departments
          </a>
          <div class="collapse mt-2" id="collapseExample">
            <div class="card card-body">
              <ul class="mb-0 list-unstyled">
              </ul>
            </div>
          </div>
        </div>

        <div class="d-lg-none d-block mb-3">
          <button type="button" class="btn  btn-outline-gray-400 text-muted w-100 " data-bs-toggle="modal"
            data-bs-target="#locationModal">
            <i class="feather-icon icon-map-pin me-2"></i>Pick Location
          </button>
        </div>
        <div class="d-none d-lg-block">
          <ul class="navbar-nav ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Home
              </a>
            </li>
            {{!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Shop
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="pages/shop-grid.html">Shop Grid - Filter</a></li>
                <li><a class="dropdown-item" href="pages/shop-grid-3-column.html">Shop Grid - 3 column</a>
                </li>
                <li><a class="dropdown-item" href="pages/shop-list.html">Shop List - Filter</a></li>
                <li><a class="dropdown-item" href="pages/shop-filter.html">Shop - Filter</a></li>
                <li><a class="dropdown-item" href="pages/shop-fullwidth.html">Shop Wide</a></li>
                <li><a class="dropdown-item" href="pages/shop-single.html">Shop Single</a></li>
                <li><a class="dropdown-item" href="pages/shop-wishlist.html">Shop Wishlist</a></li>
                <li><a class="dropdown-item" href="pages/shop-cart.html">Shop Cart</a></li>
                <li><a class="dropdown-item" href="pages/shop-checkout.html">Shop Checkout</a></li>
              </ul>
            </li> --}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Stores
              </a>
              {{!-- <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="pages/store-list.html">Store List</a></li>
                <li><a class="dropdown-item" href="pages/store-grid.html">Store Grid</a></li>
                <li><a class="dropdown-item" href="pages/store-single.html">Store Single</a></li>

              </ul> --}}
            </li>

            <li class="nav-item dropdown dropdown-fullwidth">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Mega Sale
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="pages/signup.html">Signup</a></li>
                <li><a class="dropdown-item" href="/user/signin">Forgot Password</a></li>
                <li class="dropdown-submenu dropend">
                  <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                    My Account
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/orders">Orders</a></li>
                    <li><a class="dropdown-item" href="/account-settings">Settings</a></li>
                    <li><a class="dropdown-item" href="/account-address">Address</a></li>
                    <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="d-block d-lg-none">
          <ul class="navbar-nav ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/signin">Sign in</a></li>
                <li><a class="dropdown-item" href="/user/signup">Signup</a></li>
                <li><a class="dropdown-item" href="/user/signin">Forgot Password</a></li>
                <li class="dropdown-submenu dropend">
                  <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                    My Account
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/orders">Orders</a></li>
                    <li><a class="dropdown-item" href="/account-settings">Settings</a></li>
                    <li><a class="dropdown-item" href="/account-address">Address</a></li>
                    <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                    </li>


                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Shop
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Stores
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Mega Sale
              </a>
            </li>
          </ul>
        </div>


      </div>
    </div>

  </nav>
</div>