<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from freshcart.codescandy.com/pages/404error.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 12:19:18 GMT -->
<head>

  <title>FreshCart - eCommerce HTML Template</title>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="FreshCart is a beautiful eCommerce HTML template specially designed for multipurpose shops & online stores selling products. Most Loved by Developers to build a store website easily.">
<meta content="Codescandy" name="author" />


<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="/user/images/favicon/favicon.ico">



<!-- Libs CSS -->
<link href="/user/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="/user/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
<link href="/user/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
<link href="/user/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
<link href="/user/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
<link href="/user/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
<link href="/user/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
<link href="/user/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
<link href="/user/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="/user/stylesheets/theme.min.css">
<link rel="stylesheet" type="text/css" href="/user/stylesheets/custom.css">
</head>

<body>
  <main>
<!-- section -->
  <section>
    <div class="container d-flex flex-column">
      <!-- row -->
      <div class="row min-vh-100 justify-content-center align-items-center">
        <!-- col -->
        <div class="offset-lg-1 col-lg-10  py-8 py-xl-0">
          <div class=" mb-10 mb-xxl-0">
            <!-- img -->
            <a href="/"> <img src="/user/images/logo/freshcart-logo.svg" alt=""></a>
          </div>
          <div class="row justify-content-center align-items-center">
            <!-- content -->
            <div class="col-md-6">
              <div class=" mb-6 mb-lg-0">
                <h1>Something’s wrong here...</h1>
                <p class="mb-8">We can’t find the page you’re looking for.<br>
                  Check out our help center or head back to home.</p>
                 <!-- btn -->
                <a href="/" class="btn btn-primary ms-2">Back to home</a>
              </div>

            </div>
            <div class="col-md-6">
              <div>
                 <!-- img -->
                <img src="/user/images/svg-graphics/error.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- section -->






  <!-- Javascript-->
  <!-- Libs JS -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
    <!-- Libs JS -->
<script src="/user/libs/jquery/dist/jquery.min.js"></script>
<script src="/user/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/user/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/user/libs/slick-carousel/slick/slick.min.js"></script>
<script src="/user/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/user/libs/nouislider/dist/nouislider.min.js"></script>
<script src="/user/libs/wnumb/wNumb.min.js"></script>
<script src="/user/libs/rater-js/index.js"></script>
<script src="/user/libs/prismjs/prism.js"></script>
<script src="/user/libs/prismjs/components/prism-scss.min.js"></script>
<script src="/user/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/user/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/user/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/user/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/user/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/user/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<!-- Theme JS -->
<script src="/user/javascripts/theme.min.js"></script>
  <!-- choose one -->



</body>


<!-- Mirrored from freshcart.codescandy.com/pages/404error.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 12:19:18 GMT -->
</html>