  <main>
<!-- section -->
  <section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="/user/images/svg-graphics/fp-g.svg" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
          <div>
            <div class="mb-lg-9 mb-5">
              <!-- heading -->
               {{#if message}}
                <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {{else if error}}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {{/if}}
              <h1 class="mb-2 h2 fw-bold">Update password</h1>
              <p></p>
            </div>
            <!-- form -->
            <form action="/user/update/password" method="post">
              <!-- row -->
              <div class="row g-3">
               <!-- col -->
                <div class="col-12">
                  <!-- input -->
                  
                  <input type="password" class="form-control" name="password" id="password" placeholder="New Password" required>
                  </div>
                <div class="col-12">
                  <input type="password" class="form-control" name="confirmPassword" id="confirm-password" placeholder="Confirm Password" required>
                </div>
                <input type="hidden" name="id" value="{{userId}}">
                <div class="col-12 d-grid gap-2"> 
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    function validateOtp(id){

    }
</script>
